/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor

# Environment specific
.env
.env.backup
.env.production
.phpactor.json

# PHPUnit
.phpunit.result.cache
.phpunit.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

#PHPStan
.phpstan.result.cache

# Docker
/docker/php/local.ini
*.Zone.Identifier
